/* CSS Reset */
/* line 2, ../scss/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/style.scss */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

/* line 27, ../scss/style.scss */
body {
  line-height: 1;
}

/* line 28, ../scss/style.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../scss/style.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../scss/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 37, ../scss/style.scss */
.clearfix:after {
  content: "." !important;
  display: block !important;
  height: 0 !important;
  clear: both !important;
  visibility: hidden !important;
}

/* CSS Reset Ends */
/* ---FONTS--- */
@font-face {
  font-family: 'bignoodletitlingregular';
  src: url("../fonts/big_noodle_titling/big_noodle_titling-webfont.woff2") format("woff2"), url("../fonts/big_noodle_titling/big_noodle_titling-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/roboto/robotocondensed-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condenseditalic';
  src: url("../fonts/roboto/robotocondensed-italic-webfont.woff2") format("woff2"), url("../fonts/roboto/robotocondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("../fonts/roboto/robotocondensed-light-webfont.woff2") format("woff2"), url("../fonts/roboto/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/roboto/robotocondensed-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 129, ../scss/style.scss */
h1 {
  font-family: bignoodletitlingregular, sans-serif;
  font-size: 72px;
  color: #d6d5d5;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 130, ../scss/style.scss */
h2 {
  margin-top: 75px;
  text-align: center;
  font-family: bignoodletitlingregular, sans-serif;
  font-size: 48px;
  color: #3d3d3d;
  background: url("../img/h2_underline.png") no-repeat bottom;
  padding-bottom: 9px;
  letter-spacing: 5px;
  margin-bottom: 29px;
}

/* line 131, ../scss/style.scss */
h3 {
  font-family: roboto_condensedregular, sans-serif;
  font-size: 36px;
  color: #f6f6f6;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  background: url("../img/h3_underline.png") no-repeat bottom;
  margin-top: 60px;
  padding-bottom: 20px;
  letter-spacing: 0.2em;
}

/* line 132, ../scss/style.scss */
p {
  font-family: robotothin, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/* line 133, ../scss/style.scss */
a:hover {
  text-decoration: none;
  color: inherit;
}

/* line 136, ../scss/style.scss */
.logo {
  float: left;
  margin: 50px 0;
}

/* line 137, ../scss/style.scss */
.sandwich {
  float: right;
  margin: 64px 6px 0 0;
  position: relative;
}

/* line 138, ../scss/style.scss */
.sandwich_menu {
  position: absolute;
  top: 110px;
  width: 100%;
  display: none;
}
/* line 143, ../scss/style.scss */
.sandwich_menu li {
  float: left;
  width: 24.5%;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
/* line 145, ../scss/style.scss */
.sandwich_menu li a {
  font-family: bignoodletitlingregular, sans-serif;
  font-size: 28px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #3d3d3d;
}
/* line 146, ../scss/style.scss */
.sandwich_menu li a:hover {
  border-bottom: 1px solid #e84c3d;
}

/* line 149, ../scss/style.scss */
.slider {
  clear: both;
}

/* line 150, ../scss/style.scss */
.slider-info {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}

/* line 151, ../scss/style.scss */
.slider-info_scroll {
  text-align: center;
  display: block;
  margin-top: 5%;
}

/* line 152, ../scss/style.scss */
.flexslider {
  margin: 0 !important;
}

/* line 153, ../scss/style.scss */
.flexslider .slides li {
  position: relative;
}

/* line 154, ../scss/style.scss */
#slider .slider-info_mouse {
  width: 18px;
  margin: 0 auto;
}

/* line 155, ../scss/style.scss */
.slider-info_span {
  color: #d6d5d5;
  text-transform: uppercase;
  font-family: bignoodletitlingregular, sans-serif;
  font-size: 36px;
}

/* line 156, ../scss/style.scss */
.slider-info_link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

/* line 157, ../scss/style.scss */
.slider-info_scroll:hover, .slider-info_scroll:focus, .slider-info_scroll:active {
  text-decoration: none;
}

/* line 158, ../scss/style.scss */
.slider-text-shadow {
  text-shadow: -0   -1px 0   #000000, 0   -1px 0   #000000, -0    1px 0   #000000, 0    1px 0   #000000, -1px -0   0   #000000, 1px -0   0   #000000, -1px  0   0   #000000, 1px  0   0   #000000, -1px -1px 0   #000000, 1px -1px 0   #000000, -1px  1px 0   #000000, 1px  1px 0   #000000, -1px -1px 0   #000000, 1px -1px 0   #000000, -1px  1px 0   #000000, 1px  1px 0   #000000;
}

/* line 175, ../scss/style.scss */
.about {
  padding-bottom: 120px;
}

/* line 176, ../scss/style.scss */
.h2_description {
  text-align: center;
}

/* line 177, ../scss/style.scss */
.about-block {
  margin: 60px 0 0 0;
}

/* line 178, ../scss/style.scss */
.about-block_background {
  background: #ebebeb;
  overflow: hidden;
}

/* line 179, ../scss/style.scss */
.about-block_image-wrapper {
  width: 60px;
  height: 60px;
  margin: 20px auto;
  display: block;
}

/* line 180, ../scss/style.scss */
.about-block_image-1 {
  background: url("../img/about_1.png") center no-repeat;
}

/* line 181, ../scss/style.scss */
.about-block_image-2 {
  background: url("../img/about_2.png") center no-repeat;
}

/* line 182, ../scss/style.scss */
.about-block_image-3 {
  background: url("../img/about_3.png") center no-repeat;
}

/* line 183, ../scss/style.scss */
.about-block_description, .about-block p {
  text-align: center;
  display: block;
  color: #707070;
}

/* line 184, ../scss/style.scss */
.about-block_description {
  font-family: robotobold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

/* line 185, ../scss/style.scss */
.about-block p {
  font-family: robotothin, sans-serif;
  font-size: 14px;
  margin: 17px 36px 23px 36px;
}

/* line 186, ../scss/style.scss */
.presentation-wrapper {
  width: 100%;
}

/* line 187, ../scss/style.scss */
.scene {
  width: 50%;
  float: left;
  background: #171f23;
  overflow: hidden;
}

/* line 188, ../scss/style.scss */
.video {
  width: 50%;
  float: right;
}

/* line 189, ../scss/style.scss */
.scene_name {
  font-family: robotobold, sans-serif;
  font-size: 30px;
  color: #e7e7e7;
  text-align: center;
  text-transform: uppercase;
  margin-top: 130px;
}

/* line 190, ../scss/style.scss */
.scene P {
  font-family: robotothin, sans-serif;
  font-size: 14px;
  color: #696969;
  margin: 30px 80px 50px 80px;
  text-align: center;
  line-height: 1.4;
}

/* line 191, ../scss/style.scss */
.calltoaction {
  display: block;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  color: #ebebeb;
  font-family: robotobold, sans-serif;
  font-size: 14px;
}

/* line 203, ../scss/style.scss */
.video iframe {
  height: 100%;
  width: 100%;
}

/* line 204, ../scss/style.scss */
.tabs {
  text-align: center;
  margin: 85px 0 25px 0;
}

/* line 205, ../scss/style.scss */
.tabs > div {
  padding-top: 10px;
}

/* line 206, ../scss/style.scss */
.tabs ul {
  display: inline-block;
}

/* line 207, ../scss/style.scss */
.tabs ul:after {
  content: "";
  display: block;
  clear: both;
}

/* line 211, ../scss/style.scss */
.tabs ul li {
  margin: 0;
  cursor: pointer;
  display: block;
  float: left;
  padding: 10px 25px;
  color: #3d3d3d;
  font-family: robotolight,sans-serif;
  font-size: 14px;
}

/* line 220, ../scss/style.scss */
.tabs ul li.active, .tabs ul li.active:hover {
  border-bottom: 1px solid #e84c3d;
  padding-bottom: 8px;
  color: #3d3d3d;
  font-family: robotobold,sans-serif;
}

/* line 225, ../scss/style.scss */
.tabs ul li:hover {
  background: #d6d6d7;
}

/* line 226, ../scss/style.scss */
.tabs_projects img {
  margin: 15px;
}

/* line 227, ../scss/style.scss */
.clients {
  width: 100%;
  background: #1c1c1c;
}

/* line 228, ../scss/style.scss */
.first_slider_wrapper {
  display: table;
  width: 100%;
}

/* line 229, ../scss/style.scss */
.second_slider_wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 240px;
  width: 33%;
  text-align: center;
}

/* line 230, ../scss/style.scss */
.flex-2_image {
  display: inline;
}

/* line 231, ../scss/style.scss */
.clients .flex-direction-nav a {
  opacity: 1;
}

/* line 232, ../scss/style.scss */
.clients .flex-direction-nav a:before {
  color: #5d5d5d;
}

/* line 233, ../scss/style.scss */
.author, .author-skills {
  background: #ebebeb;
  overflow: hidden;
  margin: 85px 0 105px 0;
}

/* line 234, ../scss/style.scss */
.author_photo {
  margin: 72px 93px 30px 93px;
  width: 134px;
  height: 134px;
  margin-left: auto;
  margin-right: auto;
}

/* line 235, ../scss/style.scss */
.author_name {
  display: block;
  font-family: robotobold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #3d3d3d;
  text-align: center;
}

/* line 236, ../scss/style.scss */
.author_specialization {
  margin: 8px 0 24px 0;
  display: block;
  font-family: robotolight, sans-serif;
  font-size: 14px;
  color: #3d3d3d;
  text-transform: uppercase;
  text-align: center;
}

/* line 237, ../scss/style.scss */
.author_social-links {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

/* line 238, ../scss/style.scss */
.author_social-links a {
  color: #696969;
  margin: 0 10px;
}

/* line 239, ../scss/style.scss */
.author_social-links a:hover {
  color: #3d3d3d;
}

/* line 240, ../scss/style.scss */
.my-skills {
  font-family: roboto_condensedregular, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 106px;
  color: #3d3d3d;
}

/* line 241, ../scss/style.scss */
.my-skills_description {
  color: #858383;
  font-family: robotothin, sans-serif;
  font-size: 14px;
  padding: 29px 20px 26px 0;
}

/* line 242, ../scss/style.scss */
.skill-wrapper {
  overflow: hidden;
}

/* line 243, ../scss/style.scss */
.skill_name {
  float: left;
  display: block;
  margin-bottom: 20px;
  font-family: robotobold, sans-serif;
  font-size: 14px;
  color: #3d3d3d;
  text-transform: uppercase;
}

/* line 244, ../scss/style.scss */
.meter-wrapper {
  margin-bottom: 50px;
}

/* line 245, ../scss/style.scss */
.meter {
  background: white;
  height: 2px;
  margin: 6px 60px 0 100px;
}

/* line 246, ../scss/style.scss */
.meter_color {
  background: #e84c3d;
  display: block;
  height: 2px;
}

/* line 247, ../scss/style.scss */
.skill_progress {
  float: right;
  font-family: robotolight, sans-serif;
  font-size: 14px;
  margin-right: 20px;
}

/* line 248, ../scss/style.scss */
.features {
  width: 100%;
  background: #171f23;
  padding-bottom: 69px;
}

/* line 249, ../scss/style.scss */
.features_image {
  width: 56px;
  height: 56px;
  margin: 44px auto 30px auto;
}

/* line 250, ../scss/style.scss */
.features_name, .features_count {
  text-align: center;
  font-family: robotolight, sans-serif;
  color: #f6f6f6;
  display: block;
}

/* line 251, ../scss/style.scss */
.features_name {
  font-size: 18px;
  margin-bottom: 28px;
}

/* line 252, ../scss/style.scss */
.features_count {
  font-size: 48px;
}

/* line 253, ../scss/style.scss */
.blog {
  margin-bottom: 115px;
}

/* line 254, ../scss/style.scss */
.post {
  position: relative;
}

/* line 255, ../scss/style.scss */
.post-image {
  background: url("../img/blog_image.jpg") no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 218px;
  overflow: hidden;
  margin-top: 75px;
}
/* line 255, ../scss/style.scss */
.post-image img {
  width: 100%;
}

/* line 256, ../scss/style.scss */
.post:hover .post-image {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* line 257, ../scss/style.scss */
.post_link {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  text-align: center;
}

/* line 258, ../scss/style.scss */
.i_wrapper {
  width: 43px;
  height: 43px;
  background: #f6e5e0;
  margin: 0 15px;
  border-radius: 30px;
  display: inline-block;
  color: #f58166;
}

/* line 259, ../scss/style.scss */
.i_wrapper:hover, .i_wrapper:active, .i_wrapper:focus {
  background: #e87e5d;
  color: #fbfbfb;
}

/* line 260, ../scss/style.scss */
.post .fa {
  font-size: 26px;
  padding-left: 1px;
  padding-top: 8px;
}

/* line 261, ../scss/style.scss */
.post-wrapper {
  background: #ebebeb;
  overflow: hidden;
}

/* line 262, ../scss/style.scss */
.post_title {
  display: block;
  color: #505050;
  padding: 40px 25px 30px 25px;
  font-size: 18px;
  font-family: robotolight, sans-serif;
}

/* line 263, ../scss/style.scss */
.post_text {
  font-family: robotothin, sans-serif;
  font-size: 14px;
  color: #797979;
  padding: 0 35px 0 25px;
}

/* line 264, ../scss/style.scss */
.post_time, .post_comments, .post_likes {
  padding-left: 20px;
  font-family: roboto_condensedregular, sans-serif;
  font-size: 12px;
  color: #8a8989;
  display: block;
}

/* line 265, ../scss/style.scss */
.post_time {
  background: url("../img/post_time.png") left center no-repeat;
  margin: 35px 0 25px 25px;
  padding-left: 20px;
  float: left;
}

/* line 266, ../scss/style.scss */
.post_social {
  float: right;
  margin: 35px 30px 0 0;
}

/* line 267, ../scss/style.scss */
.post_likes {
  background: url("../img/post_likes.png") left center no-repeat;
  float: left;
  margin-right: 10px;
}

/* line 268, ../scss/style.scss */
.post_comments {
  background: url("../img/post_comments.png") left center no-repeat;
  float: right;
}

/* line 269, ../scss/style.scss */
.plan {
  width: 100%;
  background: #171f23;
}

/* line 270, ../scss/style.scss */
.plan h3 {
  margin-bottom: 55px;
}

/* line 271, ../scss/style.scss */
.plan_all {
  overflow: hidden;
  text-align: center;
  margin-bottom: 94px;
}

/* line 272, ../scss/style.scss */
.plan_wrapper {
  border: 1px solid #171f23;
  width: 260px;
  display: inline-block;
}

/* line 273, ../scss/style.scss */
.plan_wrapper:hover, .plan_wrapper:active, .plan_wrapper:focus {
  border: 1px solid #f6744b;
}

/* line 274, ../scss/style.scss */
.plan_name_background {
  background: #0e1316;
}

/* line 275, ../scss/style.scss */
.plane_name {
  font-family: robotobold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 43px 0 10px 0;
}

/* line 276, ../scss/style.scss */
.plan_price {
  font-family: robotolight, sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  padding: 0 85px 39px 85px;
}

/* line 277, ../scss/style.scss */
.plan_info {
  text-align: center;
  background: #1f282c;
  color: #ffffff;
  font-size: 14px;
  overflow: hidden;
}
/* line 278, ../scss/style.scss */
.plan_info div {
  font-family: robotolight, sans-serif;
  padding: 12px 0;
}
/* line 279, ../scss/style.scss */
.plan_info span {
  font-family: robotoregular, sans-serif;
}

/* line 281, ../scss/style.scss */
.margin-top {
  margin-top: 38px;
}

/* line 282, ../scss/style.scss */
.purchase {
  background: #f6744b;
  text-align: center;
  width: 125px;
  border-radius: 10px;
  margin: 66px auto 46px auto;
}
/* line 283, ../scss/style.scss */
.purchase a {
  color: #ffffff;
  display: block;
  font-family: robotobold, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
/* line 284, ../scss/style.scss */
.purchase a:hover {
  color: #171f23;
}

/* line 286, ../scss/style.scss */
.get-in-touch {
  margin-bottom: 83px;
}

/* line 287, ../scss/style.scss */
.form {
  text-align: center;
  margin-top: 100px;
}

/* line 288, ../scss/style.scss */
.form label {
  position: absolute;
  left: 15px;
  top: 10px;
  font-family: robotobold, sans-serif;
  font-size: 14px;
}

/* line 289, ../scss/style.scss */
.form-input {
  border: none;
  font-family: robotoregular, sans-serif;
  font-size: 14px;
  text-align: left;
  padding-bottom: 5px;
  margin-top: 48px;
  width: 100%;
  background: url("../img/form_input_underline.png") repeat-x bottom left;
}

/* line 299, ../scss/style.scss */
.form-input:focus {
  outline: none;
}

/* line 300, ../scss/style.scss */
.send-button {
  background: #f6744b;
  text-align: center;
  font-family: robotobold, sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
  padding: 20px 42px;
  margin-top: 60px;
  display: inline-block;
}

/* line 301, ../scss/style.scss */
footer {
  background: #171f23;
  width: 100%;
}

/* line 302, ../scss/style.scss */
.map {
  width: 100%;
  background: #0c1215;
}

/* line 303, ../scss/style.scss */
.link_wrapper {
  width: 240px;
  margin: 0 auto;
}
/* line 304, ../scss/style.scss */
.link_wrapper a {
  display: block;
  font-family: roboto_condensedbold, sans-serif;
  font-size: 24px;
  color: #ffffff;
  padding: 33px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}
/* line 313, ../scss/style.scss */
.link_wrapper a:hover, .link_wrapper a:active, .link_wrapper a:focus {
  text-decoration: none;
}
/* line 314, ../scss/style.scss */
.link_wrapper img {
  padding-left: 13px;
  margin-bottom: 4px;
}

/* line 316, ../scss/style.scss */
.map_wrapper {
  display: none;
}

/* line 317, ../scss/style.scss */
.footer_info {
  text-align: center;
  margin-top: 50px;
}

/* line 318, ../scss/style.scss */
.rocket {
  margin-bottom: 10px;
}

/* line 319, ../scss/style.scss */
.layout_name {
  font-family: BigNoodleTitling, sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 14px;
}

/* line 320, ../scss/style.scss */
.layout_description {
  font-family: roboto_condensedregular, sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 19px;
}

/* line 321, ../scss/style.scss */
.footer_social {
  padding-bottom: 63px;
}
/* line 323, ../scss/style.scss */
.footer_social a {
  padding: 0 5px;
  color: #e2e0e0;
}
/* line 324, ../scss/style.scss */
.footer_social a:hover {
  color: #f6744b;
}
