// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

}

@media (max-width: 1024px) {
  .scene, .video {width: 100%;}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
  .sandwich_menu {
    position: relative;
    z-index: 111;
    float: left;
    top: 0;
    margin-top: 10px;
    li {float: none; width: 100%; text-align: left;}
  }
}

// Extra small devices (portrait phones, less than 544px)
@media (max-width: 543px) {

}

@media (max-width: 320px) {

}