/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.clearfix:after {
  content: "." !important;
  display: block !important;
  height: 0 !important;
  clear: both !important;
  visibility: hidden !important;}
/* CSS Reset Ends */
/* ---FONTS--- */
@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('../fonts/big_noodle_titling/big_noodle_titling-webfont.woff2') format('woff2'),
  url('../fonts/big_noodle_titling/big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../fonts/roboto/robotocondensed-italic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/roboto/robotocondensed-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/roboto/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

h1 {font-family: bignoodletitlingregular, sans-serif; font-size: 72px; color: #d6d5d5; text-transform: uppercase;}
h2 {margin-top: 75px; text-align: center; font-family: bignoodletitlingregular, sans-serif; font-size: 48px; color: #3d3d3d; background: url("../img/h2_underline.png")no-repeat bottom; padding-bottom: 9px; letter-spacing: 5px; margin-bottom: 29px;}
h3 {font-family: roboto_condensedregular, sans-serif; font-size: 36px; color: #f6f6f6;}
p {font-family: robotothin, sans-serif; font-size: 16px; line-height: 1.4;}
a:hover {text-decoration: none; color: inherit;}

.header {height: 143px}
.logo {float: left; margin-top: 50px;}
.sandwich {float: right; margin: 64px 6px 0 0;}
.sandwich_menu {}
.slider-info {position: absolute; top: 45%; left:0; right: 0; text-align: center; display: block;}
.slider-info_scroll {text-align: center; display: block; margin-top: 170px;}
.flexslider {margin: 0!important;}
.flexslider .slides li {position: relative;}
#slider .slider-info_mouse {width: 18px; margin: 0 auto;}
.slider-info_span {color: #d6d5d5; text-transform: uppercase; font-family: bignoodletitlingregular, sans-serif; font-size: 36px;}
.slider-info_link {text-decoration: none; text-transform: uppercase; color: #ffffff; display: block; margin-top: 20px;}
.slider-info_scroll:hover {text-decoration: none;}
.about p, .works p {text-align: center;}
.about-block { margin: 60px 0 120px 0;}
.about-block_background {background: #ebebeb; overflow: hidden;}
.about-block_image-wrapper {width: 60px; height: 60px; margin: 20px auto; display: block;}
.about-block_image-1 {background: url("../img/about_1.png")center no-repeat}
.about-block_image-2 {background: url("../img/about_2.png")center no-repeat}
.about-block_image-3 {background: url("../img/about_3.png")center no-repeat}
.about-block_description, .about-block p {text-align: center; display: block; color: #707070}
.about-block_description {font-family: robotobold, sans-serif; font-size: 18px; text-transform: uppercase;}
.about-block p {font-family: robotothin, sans-serif; font-size: 14px; margin: 17px 36px 23px 36px;}
.presentation-wrapper {width: 100%;}
.scene {width: 50%; float: left; background: #171f23; overflow: hidden;}
.video {width: 50%; float: right;}
.scene_name {font-family: robotobold, sans-serif; font-size: 30px; color: #e7e7e7; text-align: center; text-transform: uppercase; margin-top: 130px;}
.scene P {font-family: robotothin, sans-serif; font-size: 14px; color: #696969; margin: 30px 80px 50px 80px; text-align: center; line-height: 1.4;}
.calltoaction {
  display: block;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  color: #ebebeb;
  font-family: robotobold, sans-serif;
  font-size: 14px;}
.video iframe {height: 100%; width: 100%;}
.tabs{text-align: center; margin: 85px 0 25px 0;}
.tabs > div{padding-top:10px;}
.tabs ul{display: inline-block;}
.tabs ul:after{
  content:"";
  display:block;
  clear:both;}
.tabs ul li{
  margin:0;
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 25px;
  color:#3d3d3d;
  font-family: robotolight,sans-serif;
  font-size: 14px;}
.tabs ul li.active, .tabs ul li.active:hover{
  border-bottom: 1px solid #e84c3d;
  padding-bottom: 8px;
  color:#3d3d3d;
  font-family: robotobold,sans-serif;}
.tabs ul li:hover{background:#d6d6d7;}
.tabs_projects img {margin: 15px;}
.clients {width: 100%; background: #1c1c1c;}
.clients .flex-direction-nav a {opacity: 1;}
.clients .flex-direction-nav a:before {color: #5d5d5d;}
.flexslider-2 li {}