/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

.clearfix:after {
  content: "." !important;
  display: block !important;
  height: 0 !important;
  clear: both !important;
  visibility: hidden !important;}
/* CSS Reset Ends */
/* ---FONTS--- */
@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('../fonts/big_noodle_titling/big_noodle_titling-webfont.woff2') format('woff2'),
  url('../fonts/big_noodle_titling/big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condenseditalic';
  src: url('../fonts/roboto/robotocondensed-italic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/roboto/robotocondensed-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/roboto/robotocondensed-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
  url('../fonts/roboto/roboto-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

h1 {font-family: bignoodletitlingregular, sans-serif; font-size: 72px; color: #d6d5d5; text-transform: uppercase; letter-spacing: 0.1em;}
h2 {margin-top: 75px; text-align: center; font-family: bignoodletitlingregular, sans-serif; font-size: 48px; color: #3d3d3d; background: url("../img/h2_underline.png")no-repeat bottom; padding-bottom: 9px; letter-spacing: 5px; margin-bottom: 29px;}
h3 {font-family: roboto_condensedregular, sans-serif; font-size: 36px; color: #f6f6f6; text-transform: uppercase; letter-spacing: 5px; text-align: center; background: url("../img/h3_underline.png")no-repeat bottom; margin-top: 60px; padding-bottom: 20px; letter-spacing: 0.2em;}
p {font-family: robotothin, sans-serif; font-size: 16px; line-height: 1.4;}
a:hover {text-decoration: none; color: inherit;}


.logo {float: left; margin: 50px 0;}
.sandwich {float: right; margin: 64px 6px 0 0; position: relative;}
.sandwich_menu {
  position: absolute;
  top: 110px;
  width: 100%;
  display: none;
  li {
    float: left; width: 24.5%; text-align: center; padding-bottom: 5px; margin-bottom: 5px;
    a {font-family: bignoodletitlingregular, sans-serif; font-size: 28px; letter-spacing: 0.1em; text-decoration: none; color: #3d3d3d;}
    a:hover {border-bottom: 1px solid #e84c3d;}
  }
}
.slider {clear: both;}
.slider-info {position: absolute; top: 45%; left:0; right: 0; text-align: center; display: block;}
.slider-info_scroll {text-align: center; display: block; margin-top: 5%;}
.flexslider {margin: 0!important;}
.flexslider .slides li {position: relative;}
#slider .slider-info_mouse {width: 18px; margin: 0 auto;}
.slider-info_span {color: #d6d5d5; text-transform: uppercase; font-family: bignoodletitlingregular, sans-serif; font-size: 36px;}
.slider-info_link {text-decoration: none; text-transform: uppercase; color: #ffffff; display: block; margin-top: 20px;}
.slider-info_scroll:hover, .slider-info_scroll:focus, .slider-info_scroll:active {text-decoration: none;}
.slider-text-shadow {text-shadow:
-0   -1px 0   #000000,
0   -1px 0   #000000,
-0    1px 0   #000000,
0    1px 0   #000000,
-1px -0   0   #000000,
1px -0   0   #000000,
-1px  0   0   #000000,
1px  0   0   #000000,
-1px -1px 0   #000000,
1px -1px 0   #000000,
-1px  1px 0   #000000,
1px  1px 0   #000000,
-1px -1px 0   #000000,
1px -1px 0   #000000,
-1px  1px 0   #000000,
1px  1px 0   #000000;}
.about {padding-bottom: 120px;}
.h2_description {text-align: center;}
.about-block { margin: 60px 0 0 0;}
.about-block_background {background: #ebebeb; overflow: hidden;}
.about-block_image-wrapper {width: 60px; height: 60px; margin: 20px auto; display: block;}
.about-block_image-1 {background: url("../img/about_1.png")center no-repeat}
.about-block_image-2 {background: url("../img/about_2.png")center no-repeat}
.about-block_image-3 {background: url("../img/about_3.png")center no-repeat}
.about-block_description, .about-block p {text-align: center; display: block; color: #707070}
.about-block_description {font-family: robotobold, sans-serif; font-size: 18px; text-transform: uppercase;}
.about-block p {font-family: robotothin, sans-serif; font-size: 14px; margin: 17px 36px 23px 36px;}
.presentation-wrapper {width: 100%;}
.scene {width: 50%; float: left; background: #171f23; overflow: hidden;}
.video {width: 50%; float: right;}
.scene_name {font-family: robotobold, sans-serif; font-size: 30px; color: #e7e7e7; text-align: center; text-transform: uppercase; margin-top: 130px;}
.scene P {font-family: robotothin, sans-serif; font-size: 14px; color: #696969; margin: 30px 80px 50px 80px; text-align: center; line-height: 1.4;}
.calltoaction {
  display: block;
  margin: 0 auto 100px auto;
  text-transform: uppercase;
  background: #e84c3d;
  border-bottom: 2px solid #b11000;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  color: #ebebeb;
  font-family: robotobold, sans-serif;
  font-size: 14px;}
.video iframe {height: 100%; width: 100%;}
.tabs{text-align: center; margin: 85px 0 25px 0;}
.tabs > div{padding-top:10px;}
.tabs ul{display: inline-block;}
.tabs ul:after{
  content:"";
  display:block;
  clear:both;}
.tabs ul li{
  margin:0;
  cursor:pointer;
  display:block;
  float:left;
  padding:10px 25px;
  color:#3d3d3d;
  font-family: robotolight,sans-serif;
  font-size: 14px;}
.tabs ul li.active, .tabs ul li.active:hover{
  border-bottom: 1px solid #e84c3d;
  padding-bottom: 8px;
  color:#3d3d3d;
  font-family: robotobold,sans-serif;}
.tabs ul li:hover{background:#d6d6d7;}
.tabs_projects img {margin: 15px;}
.clients {width: 100%; background: #1c1c1c;}
.first_slider_wrapper {display: table; width: 100%;}
.second_slider_wrapper {display: table-cell; vertical-align: middle; height: 240px; width: 33%; text-align: center;}
.flex-2_image {display: inline}
.clients .flex-direction-nav a {opacity: 1;}
.clients .flex-direction-nav a:before {color: #5d5d5d;}
.author, .author-skills {background: #ebebeb; overflow: hidden; margin: 85px 0 105px 0;}
.author_photo {margin: 72px 93px 30px 93px; width: 134px; height: 134px; margin-left: auto; margin-right: auto;}
.author_name {display: block; font-family: robotobold, sans-serif; font-size: 20px; text-transform: uppercase; color: #3d3d3d; text-align: center;}
.author_specialization {margin: 8px 0 24px 0; display: block; font-family: robotolight, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase; text-align: center;}
.author_social-links {display: block; text-align: center; margin-bottom: 40px;}
.author_social-links a {color: #696969; margin: 0 10px;}
.author_social-links a:hover {color: #3d3d3d;}
.my-skills {font-family: roboto_condensedregular, sans-serif; font-size: 24px; text-transform: uppercase; margin-top: 106px; color: #3d3d3d;}
.my-skills_description {color: #858383; font-family: robotothin, sans-serif; font-size: 14px; padding: 29px 20px 26px 0;}
.skill-wrapper {overflow: hidden;}
.skill_name {float: left; display: block; margin-bottom: 20px; font-family: robotobold, sans-serif; font-size: 14px; color: #3d3d3d; text-transform: uppercase;}
.meter-wrapper {margin-bottom: 50px;}
.meter {background: white; height: 2px; margin: 6px 60px 0 100px;}
.meter_color {background: #e84c3d; display: block; height: 2px;}
.skill_progress {float: right; font-family: robotolight, sans-serif; font-size: 14px; margin-right: 20px;}
.features {width: 100%; background: #171f23; padding-bottom: 69px;}
.features_image {width: 56px; height: 56px; margin: 44px auto 30px auto;}
.features_name, .features_count {text-align: center; font-family: robotolight, sans-serif; color: #f6f6f6; display: block;}
.features_name {font-size: 18px; margin-bottom: 28px;}
.features_count {font-size: 48px;}
.blog {margin-bottom: 115px;}
.post {position: relative;}
.post-image_wrapper {overflow: hidden; margin-top: 75px;}
.post-image {background: url("../img/blog_image.jpg") no-repeat; background-size: 100% ;position: relative; width: 100%; height: 218px; img{width: 100%;}}
.post:hover .post-image {-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);}
.post_link {position: absolute; left: 0; right: 0; top: 45%; text-align: center; display: none;}
.post:hover .post_link {display: block;}
.i_wrapper  {width: 43px; height: 43px; background: #f6e5e0; margin: 0 15px; border-radius: 30px; display: inline-block; color: #f58166;}
.i_wrapper:hover, .i_wrapper:active, .i_wrapper:focus {background: #e87e5d; color: #fbfbfb}
.post .fa {font-size: 26px; padding-left: 1px; padding-top: 8px;}
.post-wrapper {background: #ebebeb; overflow: hidden;}
.post_title {display: block; color: #505050; padding: 40px 25px 30px 25px; font-size: 18px; font-family: robotolight, sans-serif;}
.post_text {font-family: robotothin, sans-serif; font-size: 14px; color: #797979; padding: 0 35px 0 25px;}
.post_time, .post_comments, .post_likes {padding-left: 20px; font-family: roboto_condensedregular, sans-serif; font-size: 12px; color: #8a8989; display: block;}
.post_time {background: url("../img/post_time.png") left center no-repeat; margin: 35px 0 25px 25px; padding-left: 20px; float: left;}
.post_social {float: right; margin: 35px 30px 0 0;}
.post_likes {background: url("../img/post_likes.png") left center no-repeat; float: left; margin-right: 10px;}
.post_comments {background: url("../img/post_comments.png") left center no-repeat; float: right;}
.plan {width: 100%; background: #171f23; }
.plan h3 {margin-bottom: 55px;}
.plan_all {overflow: hidden; text-align: center; margin-bottom: 94px;}
.plan_wrapper {border: 1px solid #171f23; width: 260px; display: inline-block;}
.plan_wrapper:hover, .plan_wrapper:active, .plan_wrapper:focus {border: 1px solid #f6744b;}
.plan_name_background {background: #0e1316;}
.plane_name {font-family: robotobold, sans-serif; font-size: 14px; color: #ffffff; text-align: center; padding: 43px 0 10px 0;}
.plan_price {font-family: robotolight, sans-serif; font-size: 36px; color: #ffffff; text-align: center; padding: 0 85px 39px 85px;}
.plan_info {text-align: center; background: #1f282c; color: #ffffff; font-size: 14px; overflow: hidden;
  div {font-family: robotolight, sans-serif; padding: 12px 0;}
  span {font-family: robotoregular, sans-serif;}
}
.margin-top {margin-top: 38px;}
.purchase {background: #f6744b; text-align: center; width: 125px; border-radius: 10px; margin: 66px auto 46px auto;
  a {color: #ffffff; display: block; font-family: robotobold, sans-serif; font-size: 14px; letter-spacing: 2px;}
  a:hover {color: #171f23;}
}
.get-in-touch {margin-bottom: 83px;}
.form {text-align: center; margin-top: 100px;}
.form label {position: absolute; left: 15px; top:10px; font-family: robotobold, sans-serif; font-size: 14px;}
.form-input {
  border: none;
  font-family: robotoregular, sans-serif;
  font-size: 14px;
  text-align: left;
  padding-bottom: 5px;
  margin-top: 48px;
  width: 100%;
  background: url("../img/form_input_underline.png")repeat-x bottom left;
}
.form-input:focus {outline: none;}
.send-button {background: #f6744b; text-align: center; font-family: robotobold, sans-serif; font-size: 14px; color: #ffffff; border: none; padding: 20px 42px; margin-top: 60px; display: inline-block;}
footer {background: #171f23; width: 100%;}
.map {width: 100%; background: #0c1215;}
.link_wrapper {width: 240px; margin: 0 auto;
  a {
    display: block;
    font-family: roboto_condensedbold, sans-serif;
    font-size: 24px;
    color: #ffffff;
    padding: 33px 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;}
  a:hover, a:active, a:focus {text-decoration: none;}
  img {padding-left: 13px; margin-bottom: 4px;}
}
.map_wrapper {display: none;}
.footer_info {text-align: center; margin-top: 50px;}
.rocket {margin-bottom: 10px;}
.layout_name {font-family: BigNoodleTitling, sans-serif; font-size: 24px; letter-spacing: 0.1em; color: #ffffff; margin-bottom: 14px;}
.layout_description {font-family: roboto_condensedregular, sans-serif; font-size: 14px; color: #ffffff; letter-spacing: 0.1em; text-transform: uppercase; margin-bottom: 19px;}
.footer_social {
  padding-bottom: 63px;
  a {padding: 0 5px; color: #e2e0e0;}
  a:hover {color: #f6744b;}
}